.wrap {
    min-height: 320px;
    background-color: #FFB800;
    margin: 0;
}

// ===== title =====

.feedback-title {
    margin: 40px 0 20px 0;
    h2 {
        font-family: $playfairFont;
        @include fontProperties(18px, 26px, 700, #FFFFFF);
        text-align: center;
        margin-bottom: 5px;
    }
    p {
        font-family: $gilroyFont;
        @include fontProperties(14px, 18px, 400, #FFFFFF);
        text-align: center;
    }
}

// ===== form =====

.feedback-form {
  p {
    text-align: center;
    margin: 10px 0;
    input::placeholder,
    textarea::placeholder{
      font-family: $gilroyFont;
      @include fontProperties(12px, 14px, 500, #FFFFFF);
      padding: 5px;
    }
  }
}

.feedback-name-wrap,
.feedback-email-wrap,
.feedback-message-wrap {
  width: 100%;
}

.feedback-name {
  width: 100%;
  background: transparent;
  border: none;
  padding: 5px 0;
  border-bottom: 1px solid #FFFFFF;
}
.feedback-email {
  width: 100%;
  background: transparent;
  outline: none;
  border: none;
  padding: 5px 0;
  border-bottom: 1px solid #FFFFFF;
}
.feedback-message {
  width: 100%;
  background: transparent;
  outline: none;
  border: none;
  padding: 10px 0;
  border-bottom: 1px solid #FFFFFF;
}

// === validation ===

.feedback-name:focus,
.feedback-email:focus,
.feedback-message:focus {
  outline: none;
  &:valid {
    outline: 1px solid green;
  }
  &:invalid {
    outline: 1px solid red;
  }
}


// ======

.feedback-button {
  @extend %button;
  background: #FFFFFF;
  color: #FFB800;
  margin: 20px auto;
  &:focus,
  &:hover {
    background: transparent;
    color: #FFFFFF;
  }
}










// =======================================================================
// =======================================================================
// =======================================================================

@media (max-width: 767px) {
  .container-sm, .container {
    max-width: 320px;
  }

}










// ========================================================================
// ========================================================================
// ========================================================================
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }

.wrap {
    min-height: 360px;
}

// ===== title =====

.feedback-title {
    h2 {
        @include fontProperties(24px, 32px, 700, #FFFFFF);
        text-align: start;
    }
    p {
        @include fontProperties(16px, 20px, 400, #FFFFFF);
        text-align: start;
    }
}

// ===== form =====

.feedback-form {
  p {
    text-align: start;
    input::placeholder,
    textarea::placeholder{
      @include fontProperties(14px, 16px, 500, #FFFFFF);
    }
  }
}

.feedback-name-wrap,
.feedback-email-wrap {
  width: 45%;
}


// ======

.feedback-button {
  margin: 25px 0;
}





}










// ========================================================================
// ========================================================================
// ========================================================================
@media (min-width: 1480px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1440px;
  }

.wrap {
    min-height: 400px;
}

// ===== title =====

.feedback-title {
    margin: 40px 0 40px 0;
    h2 {
        @include fontProperties(30px, 40px, 700, #FFFFFF);
        margin-bottom: 10px;
    }
    p {
        @include fontProperties(18px, 21px, 400, #FFFFFF);
    }
}

// ===== form =====

.feedback-form {
  p {
    input::placeholder,
    textarea::placeholder{
      @include fontProperties(16px, 19px, 500, #FFFFFF);
    }
  }
}



// ======

.feedback-button {
  margin: 50px 0;
}

}